html{background:#999;font-family:'Lato',sans-serif}
.wrap{background:#ccc;margin:0 auto;width:1000px;}
.wrap:after{content:"";display:table;clear:both}
.main{width:640px;background:#fff;float:left}
.products{list-style:none;margin:0;padding:25px;}
.products:after{content:"";display:table;clear:both}
.product{display:inline-block;padding:0 15px 45px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.product__img img{max-width:100%;vertical-align:top}
.product__info{font-size:14px;margin-top:10px;line-height:1.4em}
.product__name{font-style:italic;max-height:2.8em;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.product__price{font-weight:bold;max-height:1.4em}
.products_info_left .product__info{text-align:left}
.products_info_right .product__info{text-align:right}
.products_info_center .product__info{text-align:center}
.products_1column .product{width:100%}
.products_2column .product{width:50%}
.products_3column .product{width:33%}
.products_left-right .product{width:33%}
