html{background:#999;font-family:'Lato',sans-serif}
.wrap{background:#fff;margin:0 auto;width:1000px;}
.wrap:after{content:"";display:table;clear:both}
.main{width:640px;background:#fff;float:left;border-right:3px solid #999}
.aside{padding:15px 20px;float:left;width:317px;}
.aside h3{text-align:center}
.aside .row_grid{text-align:center;}
.aside .row_grid .col{display:inline-block;vertical-align:top;padding:7px}
.aside .row_grid input{display:none}
.aside .row_grid img{cursor:pointer;vertical-align:top}
.aside .row_grid label{display:block}
.aside .row_grid input:checked + label{box-shadow:0 0 7px #7c9ebf}
.products{list-style:none;margin:0;padding:25px;font-size:0;text-align:center;}
.products:after{content:"";display:table;clear:both}
.product{display:inline-block;vertical-align:bottom;padding:0 15px;margin-bottom:30px;line-height:1.4em;font-size:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:content-box #e1e1e1}
.product__img img{max-width:100%;vertical-align:bottom}
.product__info{margin-top:10px;min-height:69px}
.product__name{font-style:italic}
.product__price{font-weight:bold;min-height:1.4em}
.products_info_left .product__info{text-align:left}
.products_info_right .product__info{text-align:right}
.products_info_center .product__info{text-align:center}
.products_grid_1 .product{width:50%}
.products_grid_1.products_fix_height .product__img{height:265px;line-height:265px;}
.products_grid_1.products_fix_height .product__img img{max-height:265px}
.products_grid_2 .product{width:50%}
.products_grid_2 .product_6-3,.products_grid_2 .product_6-6{width:100%}
.products_grid_2.products_fix_height .product__img{height:265px;line-height:265px;}
.products_grid_2.products_fix_height .product__img img{max-height:265px}
.products_grid_3 .product{float:left;width:50%}
.products_grid_3 .product_6-1{float:right}
.products_grid_3 .product__img img{max-height:100%;vertical-align:middle}
.products_grid_3 .product__img,.products_grid_3 .product_6-1:last-child .product__img,.products_grid_3 .product_6-4:last-child .product__img{height:265px;line-height:265px}
.products_grid_3 .product_6-1 .product__img,.products_grid_3 .product_6-4 .product__img{height:639px;line-height:639px}
.products_grid_3 .product_6-1:last-child,.products_grid_3 .product_6-4:last-child{width:100%}
.products_grid_4 .product{float:left;width:33%}
.products_grid_4 .product_6-1{float:right}
.products_grid_4 .product__img img{max-height:100%;vertical-align:middle}
.products_grid_4 .product__img,.products_grid_4 .product_6-1:last-child .product__img,.products_grid_4 .product_6-4:last-child .product__img{height:165px;line-height:165px}
.products_grid_4 .product_6-1,.products_grid_4 .product_6-4{width:66%;}
.products_grid_4 .product_6-1 .product__img,.products_grid_4 .product_6-4 .product__img{height:439px;line-height:439px}
.products_grid_4 .product_6-1:last-child,.products_grid_4 .product_6-4:last-child{width:100%}
.products_grid_5 .product{width:33%}
.products_grid_5.products_fix_height .product__img{height:165px;line-height:165px;}
.products_grid_5.products_fix_height .product__img img{max-height:165px}
.products_grid_6 .product{width:33%}
.products_grid_6 .product_4-4{width:100%}
.products_grid_6.products_fix_height .product__img{height:165px;line-height:165px;}
.products_grid_6.products_fix_height .product__img img{max-height:165px}
.products_grid_7 .product_4-1,.products_grid_7 .product_4-4{width:66%}
.products_grid_7 .product_4-2,.products_grid_7 .product_4-3{width:33%}
.products_grid_7.products_fix_height .product__img{height:165px;line-height:165px;}
.products_grid_7.products_fix_height .product__img img{max-height:165px}
.products_grid_8 .product{width:33%;vertical-align:top}
.products_grid_8 .product__img{height:165px;line-height:165px;}
.products_grid_8 .product__img img{max-height:165px}
.products_grid_8 .product_6-1,.products_grid_8 .product_6-3,.products_grid_8 .product_6-4,.products_grid_8 .product_6-6{margin:110px 0 -110px}
.products_grid_8 .product_6-5:last-child{margin-top:30px}
.products_grid_8 .product_6-1:last-child,.products_grid_8 .product_6-4:last-child{margin:0}
.products_grid_8 .product_6-2:last-child,.products_grid_8 .product_6-5:last-child{margin-right:33%;margin-bottom:110px;margin-top:0}
.products_grid_8 .product_6-3:last-child,.products_grid_8 .product_6-6:last-child{margin-bottom:0}
