$h_2 = 265px;
$h_3 = 165px;
$h_gap = 30px;
$line-height = 19px;

$h_text_height = $line-height * 4;
$h_text_hold = $line-height * 4 +10px;

html{
  background: #999;
  font-family: 'Lato', sans-serif;
}
.wrap{
  background: #fff;
  margin: 0 auto;
  width: 1000px;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
.main{
  width: 640px;
  background: #fff;
  float: left;
  border-right: 3px solid #999;
}
.aside{
  padding: 15px 20px;
  float: left;
  width: 1000px - 640px - 40px - 3px;
  h3{
    text-align: center;
  }
  .row_grid{
    text-align: center;
    .col{
      display: inline-block;
      vertical-align: top;
      padding: 7px;
    }
    input{
      display: none;
    }
    img{
      cursor: pointer;
      vertical-align: top;
    }
    label{
      display: block;
    }
    input:checked + label{
      box-shadow: 0 0 7px #7c9ebf;
    }
  }
}


.products{
  list-style: none;
  margin: 0;
  padding: 25px;
  font-size: 0;
  text-align: center;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.product{
  display: inline-block;
  vertical-align: bottom;
  padding: 0 ($h_gap/2);
  margin-bottom: $h_gap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:hover{
    .product__img img{
      width: auto;
      height: auto;
    }
  }
}
.product__img{
  img{
    max-width: 100%;
    vertical-align: bottom;
  }
}
.product__info{
  margin-top: 10px;
  line-height:  1.358em; // 1.357em
  font-size: 14px;
}
.product__name{
  font-style: italic;
}
.product__price{
  font-weight: bold;
}

.products_grid_bg{
  .product{
    background: content-box #E1E1E1;
  }
}


.products_info_left .product__info{
  text-align: left;
}

.products_info_right .product__info{
  text-align: right;
}

.products_info_center .product__info{
  text-align: center;
}


// |__|__|
// |__|__|
// |__|__|
// |__|__|

.products_grid_1{
  .product{
    width: 50%;
  }

  &.products_fix_height{
    .product__img{
      height: 265px;
      line-height: 265px;

      img{
        max-height: 265px;
      }
    }
  }
}

// |__|__|
// |_____|
// |__|__|
// |_____|

.products_grid_2{
  .product{
    width: 50%;
  }

  .product_6-3, .product_6-6{
    width: 100%;
  }


  &.products_fix_height{
    .product__img{
      height: 265px;
      line-height: 265px;

      img{
        max-height: 265px;
      }
    }
  }
}

// |__|  |
// |__|__|
// |  |__|
// |__|__|

.products_grid_3{
  .product{
    float: left;
    width: 50%;
  }

  .product_6-1{
    float: right;
  }

  .product__info{
    min-height: $line-height * 3;
  }

  .product__img{
    img{
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .product__img,
  .product_6-1:last-child .product__img, .product_6-4:last-child .product__img{
    height: 265px;
    line-height: 265px;
  }

  .product_6-1, .product_6-4{
    .product__img{
      height: $h_2*2 + $h_gap + $h_text_hold - $line-height;
      line-height: $h_2*2 + $h_gap + $h_text_hold - $line-height;
    }

  }

  .product_6-1:last-child, .product_6-4:last-child{
    width 100%
  }
}



// |_|   |
// |_|___|
// |   |_|
// |___|_|

.products_grid_4{
  .product{
    float: left;
    width: 33%;
  }

  .product_6-1{
    float: right;
  }

  .product__img{
    img{
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .product__info{
    min-height: $line-height * 4;
  }

  .product__img,
  .product_6-1:last-child .product__img,
  .product_6-4:last-child .product__img{
    height: 165px;
    line-height: 165px;
  }

  .product_6-1, .product_6-4{
    width: 66%;
    clear: both;

    .product__img{
      height: $h_3*2 + $h_gap + $h_text_hold;
      line-height: $h_3*2 + $h_gap + $h_text_hold;
    }
  }

  .product_6-1:last-child,
  .product_6-4:last-child{
    width 100%
  }
}



// |_|_|_|
// |_|_|_|
// |_|_|_|
// |_|_|_|

.products_grid_5{
  .product{
    width: 33%;
  }

  &.products_fix_height{
    .product__img{
      height: 165px;
      line-height: 165px;

      img{
        max-height: 165px;
      }
    }
  }
}



// |_|_|_|
// |_____|
// |_|_|_|
// |_____|

.products_grid_6{
  .product{
    width: 33%;
  }

  .product_4-4{
    width: 100%;
  }

  &.products_fix_height{
    .product__img{
      height: 165px;
      line-height: 165px;

      img{
        max-height: 165px;
      }
    }
  }
}



// |___|_|
// |_|___|
// |___|_|
// |_|___|

.products_grid_7{
  .product_4-1,
  .product_4-4{
    width: 66%;
  }

  .product_4-2,
  .product_4-3{
    width: 33%;
  }

  &.products_fix_height{
    .product__img{
      height: 165px;
      line-height: 165px;

      img{
        max-height: 165px;
      }
    }
  }

  .product_4-1:last-child,
  .product_4-3:last-child{
    width: 100%;
  }
}



//  _|_|_
// |_|_|_|
// |_|_|_|
// |_| |_|

.products_grid_8{
  vertical-align: top;
  .product{
    width: 33%;
    vertical-align: top !important;
  }

  .product__info{
    min-height: $line-height * 5;
  }

  .product__img{
    height: 165px;
    line-height: 165px;

    img{
      max-height: 165px;
    }
  }
  .product_6-1, .product_6-3,
  .product_6-4,.product_6-6 {
    margin: 110px 0 -80px;
  }

  .product_6-5:last-child{
    margin-top: 30px;
  }

  .product_6-1:last-child,
  .product_6-4:last-child {
    margin: 0;
  }

  .product_6-2:last-child,
  .product_6-5:last-child {
    margin-right: 33%;
    margin-bottom: 110px;
    margin-top: 0;
  }

  .product_6-3:last-child,
  .product_6-6:last-child {
    margin-bottom: 0;
  }
}