$h_2 = 265px;
$h_3 = 165px;
$h_gap = 30px;
$line-height = 19px;

html{
  background: #999;
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
}
.wrap{
  background: #fff;
  margin: 0 auto;
  width: 1000px;
  position: relative;

  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.main{
  width: 640px;
  background: #fff;
  float: left;
  border-right: 3px solid #999;
}

.aside{
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: 143px;
  width: 1000px - 640px - 40px - 3px;
  background: #fff;

  h3{
    text-align: center;
  }
  .row_grid{
    text-align: center;

    .col{
      display: inline-block;
      padding: 7px;
      vertical-align: top;
    }

    input{
      display: none;
    }

    img{
      cursor: pointer;
      vertical-align: top;
    }

    label{
      display: block;
    }

    input:checked + label{
      box-shadow: 0 0 7px #7c9ebf;
    }
  }

  .row_align{
    .col{
      width: 33%;
      float: left;
    }
  }
}


.products{
  margin: 0;
  padding: 25px;
  list-style: none;
  text-align: center;
  font-size: 0;
  &:after{
    display: table;
    clear: both;
    content: "";
  }
}

.product{
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: $h_gap;
  padding: 0 ($h_gap/2);
  vertical-align: bottom;

  &:hover{
    .product__img img{
      width: auto;
      height: auto;
    }
  }
}

.product__hold{
  display: table;
  width: 100%;
}

.product__img{
  display: table-cell;
  img{
    max-width: 100%;
    vertical-align: bottom;
  }
}

.product__info{
  display: table-row;
  font-size: 14px;
  line-height:  1.358em; // 1.357em
}
.product__name{
  font-style: italic;
  padding-top: 10px;
}
.product__price{
  font-weight: bold;
}

.product__hotspot-hold{
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover .product__hotspot{
    display: block;
  }
}

.product__hotspot{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  margin: -14px 0 0 -14px;
  width: 29px;
  height: 29px;
  border-radius: 3px;
  background-color: #e92425;
  background-image: linear-gradient(135deg, #e92425 0%, #bc2122 100%);
  background-position: 0 0;
  background-clip: padding-box;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  transform: rotate(45deg);

  &:after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -11px;
    color: #fff;
    content: '+';
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    line-height: 29px;
    transform: rotate(-45deg);
  }
}


.products_grid_bg{
  .product{
    background: content-box #e2e2e2;
  }

  .product__img{
    background: #f2f2f2;
  }
}

.products_info_left .product__info{
  text-align: left;
}

.products_info_right .product__info{
  text-align: right;
}

.products_info_center .product__info{
  text-align: center;
}


// |__|__|
// |__|__|
// |__|__|
// |__|__|

.products_grid_1{
  .product{
    width: 50%;
  }

  .product__hotspot-hold{
    max-width: 265px;
  }

  &.products_fix_height{
    .product__img{
      height: 265px;
      vertical-align: bottom;

      img{
        max-height: 265px;
      }
    }
  }
}

// |__|__|
// |_____|
// |__|__|
// |_____|

.products_grid_2{
  .product{
    width: 50%;
  }

  .product__hotspot-hold{
    max-width: 265px;
  }

  .product_6-3, .product_6-6{
    width: 100%;

    .product__hotspot-hold{
      max-width: 560px;
    }
  }

  &.products_fix_height{
    .product__img{
      height: 265px;
      vertical-align: bottom;

      img{
        max-height: 265px;
      }
    }
  }
}

// |__|  |
// |__|__|
// |  |__|
// |__|__|

.products_grid_3{
  .product{
    float: left;
    width: 50%;
  }

  .product__hotspot-hold{
    max-width: 265px;
  }

  .product_6-1{
    float: right;
  }

  .product__info{
    height: $line-height * 3 + 10px;
  }

  .product__img{
    vertical-align: middle;
    height: 265px;

    img{
      max-height: 265px;
    }
  }

  .product_6-1,
  .product_6-4{
    clear: both;

    .product__img{
      height: $h_2*2 + $h_gap + $line-height * 3 + 10px;

      img{
        max-height: $h_2*2 + $h_gap + $line-height * 3 + 10px;
      }
    }
  }

  .product_6-1:last-child,
  .product_6-4:last-child{
    width 100%

    .product__img{
      height: 265px;

      img{
        max-height: 265px;
      }
    }
  }
}



// |_|   |
// |_|___|
// |   |_|
// |___|_|

.products_grid_4{
  .product{
    float: left;
    width: 33%;
  }

  .product_6-1{
    float: right;
  }

  .product__img{
    vertical-align: middle;

    img{
      max-height: 165px;
    }
  }

  .product__info{
    height: $line-height * 4 + 10px;
  }

  .product__img,
  .product_6-1:last-child .product__img,
  .product_6-4:last-child .product__img{
    height: 165px;
  }

  .product__hotspot-hold{
    max-width: 165px;
  }

  .product_6-1, .product_6-4{
    width: 66%;
    clear: both;

    .product__hotspot-hold{
      max-width: 359px;
    }

    .product__img{
      height: $h_3*2 + $h_gap + $line-height * 4 + 10px;

      img{
        max-height: $h_3*2 + $h_gap + $line-height * 4 + 10px;
      }
    }
  }

  .product_6-1:last-child,
  .product_6-4:last-child{
    width: 100%;
  }
}



// |_|_|_|
// |_|_|_|
// |_|_|_|
// |_|_|_|

.products_grid_5{
  .product{
    width: 33%;
  }

  .product__hotspot-hold{
    max-width: 165px;
  }

  &.products_fix_height{

    .product__img{
      vertical-align: bottom;
      height: 165px;

      img{
        max-height: 165px;
      }
    }
  }
}



// |_|_|_|
// |_____|
// |_|_|_|
// |_____|

.products_grid_6{
  .product{
    width: 33%;
  }

  .product__hotspot-hold{
    max-width: 165px;
  }

  .product_4-4{
    width: 100%;

    .product__hotspot-hold{
      max-width: 560px;
    }
  }

  &.products_fix_height{
    .product__img{
      vertical-align: bottom;
      height: 165px;

      img{
        max-height: 165px;
      }
    }
  }
}



// |___|_|
// |_|___|
// |___|_|
// |_|___|

.products_grid_7{
  .product_4-1,
  .product_4-4{
    width: 66%;

    .product__hotspot-hold{
      max-width: 359px;
    }
  }

  .product_4-2,
  .product_4-3{
    width: 33%;

    .product__hotspot-hold{
      max-width: 165px;
    }
  }

  &.products_fix_height{
    .product__img{
      height: 165px;

      img{
        max-height: 165px;
      }
    }
  }

  .product_4-1:last-child,
  .product_4-3:last-child{
    width: 100%;
  }
}



//  _|_|_
// |_|_|_|
// |_|_|_|
// |_| |_|

.products_grid_8{
  vertical-align: top;
  .product{
    width: 33%;
    vertical-align: top !important;
  }

  .product__info{
    min-height: $line-height * 5;
  }

  .product__img{
    height: 165px;
    line-height: 165px;

    img{
      max-height: 165px;
    }
  }

  .product__hotspot-hold{
    max-width: 165px;
  }

  .product_6-1, .product_6-3,
  .product_6-4,.product_6-6 {
    margin: 110px 0 -80px;
  }

  .product_6-5:last-child{
    margin-top: 30px;
  }

  .product_6-1:last-child,
  .product_6-4:last-child {
    margin: 0;
  }

  .product_6-2:last-child,
  .product_6-5:last-child {
    margin-right: 33%;
    margin-bottom: 110px;
    margin-top: 0;
  }

  .product_6-3:last-child,
  .product_6-6:last-child {
    margin-bottom: 0;
  }
}